<div class="footer">
  <div class="footer-links">
    <a href="#" target="_blank"><i class="fa-solid fa-mug-hot"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> par Roxanne
  </div>
</div>
