<div class="container mt-3">

    <div class="about-card mt-3">
      <%= image_tag "about.png" %>
      <div class="about-card-infos">
        <h2 class="mb-3">A propos de ce site,</h2>
        <p>
          Bienvenue sur mon site de recettes de cuisine ! Passionnée  de programmation et de cuisine, et j'ai décidé de combiner ces deux passions en créant ce site.
        </p>
        <p>
          Mon objectif était de partager facilement des recettes avec ma famille et mes amis.
          J'espère que ces recettes vous inspireront à cuisiner de nouvelles choses et à vous <strong>amuser</strong> en cuisine.
        </p>
        <p>
          En plus de partager mes recettes, je veux également utiliser ce site pour partager mes connaissances en programmation et en développement web.
          J'espère que vous apprécierez mon contenu et que vous trouverez mon site utile.
          N'hésitez pas à me contacter si vous avez des questions ou des suggestions !
        </p>
      </div>
    </div>

</div>
