<div class="banner">
  <div class="home-container position-absolute">
    <div class="home-text">
      <h1>CookBook</h1>
      <p>Partage tes meilleures recettes</p>
    </div>
    <a class="position-absolute bottom-0 start-50 translate-middle-x btn btn-light button mb-5" href="recipes">Explore</a>
  </div>
</div>
