.show-card > img{
  height: 200px;
  width: 100%;
  margin-top: 20px;
  object-fit: cover;
  display: flex;
}

.show-card{
  width: 1250px;
  height: auto;
  text-align: center;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 15px;
  padding-top: auto;
  display: flex;
  align-items: center;

}

.card-infos{
  padding: 20px;
}

.about-card{
  overflow: hidden;
  height: 540px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.about-card img {
  height: 445px;
  width: auto;
  object-position: center;
}

.about-card-infos{
  margin-top: 35px;
  margin-right: 60px;
}
