.home-container{
  width: 100%;
  height: 570px;
  background-position: center;
  background-size: cover;
  background-image: url("banner.jpg");
  text-align: center;
  opacity: .99;
}

.container-new-recipe{
  background-image: url("background_new_recipe.png");
  background-size: cover;
  height: 570px;
  opacity: .99;
}
